<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ps_tech_vendor_boilerplate</name>
    <displayName><![CDATA[PrestaShop Tech Vendor Boilerplate]]></displayName>
    <version><![CDATA[x.y.z]]></version>
    <description><![CDATA[This is a template module for CloudSync]]></description>
    <author><![CDATA[PrestaShop]]></author>
    <tab><![CDATA[content_management]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>