COMPOSE_PROJECT_NAME=ps_eventbus

DOCKER_IMAGE_PRESTASHOP=prestashop/prestashop-flashlight:latest
DOCKER_VERSION_MARIADB=lts

HOST_PORT_BIND_PRESTASHOP=8000
HOST_PORT_BIND_MYSQL=3306
HOST_PORT_BIND_PHP_MY_ADMIN=6060
