{#**
 * Copyright since 2007 PrestaShop SA and Contributors
 * PrestaShop is an International Registered Trademark & Property of PrestaShop SA
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License version 3.0
 * that is bundled with this package in the file LICENSE.md.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 * @author    PrestaShop SA and Contributors <contact@prestashop.com>
 * @copyright Since 2007 PrestaShop SA and Contributors
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License version 3.0
 *#}

 {% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  <div class="panel">
    <h3><i class="icon icon-credit-card"></i> CloudSync module example</h3>
    <p>
        <strong>Here is my new generic module!</strong><br />
        Thanks to PrestaShop, now I have a great module.<br />
        I can configure it using the following configuration form.
    </p>
    <br />
    <p>
        This module will boost your sales!
    </p>
    <p>
      {% if mboIsInstalled == false %}
        <div class="alert alert-danger">
          <p>
            <strong>Warning!</strong> The module "mbo" is not installed.
          </p>
            Install the module "mbo"
        </div>
      {% endif %}
    </p>
    <div id="prestashop-cloudsync"></div>
  </div>
{% endblock %}

{% block stylesheets %}
  <style>
   
  </style>
{% endblock %}

{% block javascripts %}
  <script src="{{ mscUiUrl }}"></script>

  <script>
    var cdc = window.cloudSyncSharingConsent;
    var contextPsAccounts = {{ contextPsAccounts|json_encode|raw }};
    var contextPsEventbus = {{ contextPsEventbus|json_encode|raw }};

    cdc.init('#prestashop-cloudsync');
    cdc.on('OnboardingCompleted', (isCompleted) => {
      console.log('OnboardingCompleted', isCompleted);
    });
    cdc.isOnboardingCompleted((isCompleted) => {
      console.log('Onboarding is already Completed', isCompleted);
    });
  </script>
{% endblock %}
 